@font-face {
    font-family: norse-bold;
    src: url(/css/fonts/Norse-Bold.otf)
}

* {
    /* border: 3px solid red; */
    box-sizing: border-box;
}
body, html {
    margin: 0;
    padding: 0;
}
body {
    display:flex;
    height: 100vh;
    margin: none;
    padding: none;
    border: none;
}

.sheet-left {
    flex:auto;
    background: darkcyan url(imgs/lucas-calloch-0XAu8kBEySI-unsplash.jpg) no-repeat center;
    background-size: cover;
    position: relative;
}
.sheet-right {
    flex: 1 1 25%;
    display: flex;
    flex-direction: column;
}
.odin-banner {
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, .6);
    color: white;
    top: 20vh;
    text-align: center;
    font-family: norse-bold;
    font-size: 6em;
    padding-top: 30px;
}
.image-citation, .image-citation a {
    margin-top: 97vh;
    color: white;
    text-align: center;
    opacity: .8;
}
.sheet-info, .create-account {
    flex: auto;
}
